.navbar {
    position: absolute;
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color:white;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 250px;
}
  
.dropdown .dropbtn1, .dropbtn2, .dropbtn3, .dropbtn4 {
    color: rgb(71, 71, 71); 
    width: 200px;
    height: 80px;
    padding: 25px 40px; 
    cursor: pointer; 
    border:none;
    outline:none;
    display: block; 
    background-color: inherit;
    font-family: inherit;
}

.dropbtn1:hover, .dropbtn1:focus,
.dropbtn2:hover, .dropbtn2:focus,
.dropbtn3:hover, .dropbtn3:focus,
.dropbtn4:hover, .dropbtn4:focus {
    background-color: #ddd;
    width: 200px;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}