button, p, input, img, button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
}

#searchBar {
    top: 50%;
    width: 1028px;
    height: 107px;
    left: 198px;
    font-size: 64px;
    padding-left: 30px;
}

p { 
    top: 22.5px;
    left: 500px;
    width: 466px;
    height: 87px;
    font-size: 144px;
    color: white;
    -webkit-text-stroke: 0.5px black;
}

body {
    background-image: url("../background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size:100% 100vh;
}

#searchButton {
    left: 665px;
    top: 70%;
    border: none;
    color: rgb(114, 114, 114);
    cursor: pointer;
    font-size: 16px;
    padding: 15px 32px;
}