/*Stylesheet for projectindex*/

/* Font specications for body of page*/

/*Settings for title text */
p { 
	/*Design element - font and color specications*/
    font-size: 144px;
    color: white;
}

/* Background specications for projectindex.html page*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("../images/background.jpg"); /* Image used for background */
    background-repeat: no-repeat; /* Making sure the image covers the page and doesnt repeat*/
    background-size: cover; /* Background photo is a cover*/
    background-size:100% 100vh; /* The background will cover the whole page, no matter the size */
}

/*Search button settings*/
#searchButton {
	/*Positioning and sizing of button*/
    border: none;
    color: rgb(114, 114, 114);
    cursor: pointer;
    font-size: 16px;
    padding: 15px 32px;
}

/*Specfiications for navigation at the top of the page*/
#navigation {
    list-style-type: none; /*Makes sure naviagtion is not formatted as a list*/
    margin: 0;
    padding: 0;
}

/*Specifications for when the naviagtion option is selected*/
#nav_select {
    display: inline;
    font-size: 20px;
}

/*Specifications for when the naviagtion option is selected*/
#nav_select a {
    text-decoration: none;
    color: white;
    text-align: center; /*Navigation centered at top of page*/
    padding: 30px 34px;
}

/*Specifications for when the naviagtion option is hovered over i.e change of color*/
#nav_select a:hover {
    color: rgba(255, 203, 134, 0.712)
}