button, p, input, img, button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
}

p { 
    top: 22.5px;
    left: 500px;
    width: 466px;
    height: 87px;
    font-size: 144px;
    color: white;
    -webkit-text-stroke: 0.5px black;
}

body {
    background-image: url("../background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size:100% 100vh;
}

#searchButton {
    left: 625px;
    top: 50%;
    border: none;
    color: rgb(114, 114, 114);
    cursor: pointer;
    font-size: 16px;
    padding: 15px 32px;
}

#navigation {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav_select {
    display: inline;
}

#nav_select a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 30px 34px;
}

#nav_select a:hover {
    color: rgb(187, 187, 187)
}